body{
    background-color: darkgrey;
    margin: 20px;
}

.MostrarObras{
    margin: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card {
    background-color: cornflowerblue;
    border: 1px solid #fccccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    /*width: 200px;   /* Ancho fijo */
    /*height: 300px;  /* Alto fijo */ 
}
.card img {
    max-width: 100%;
    /*width: 100%;*/
    height: auto;/**/
    object-fit: cover; /* Ajusta la imagen para cubrir el area de la tarjeta*/
    border-radius: 8px;
    
}